{{!< default}}

{{#post}}
<article class="{{post_class}}">

    <h1><a href="{{ url }}">{{ title }}</a></h1>

    <div class="post-content text-justify">{{ content }}</div>

    <p class="meta">Posted on <span class="postdate">{{date format="MMM Do, YYYY"}}</span></p>

</article>
{{/post}}
<div id="blueimp-gallery" class="blueimp-gallery">
    <div class="slides"></div>
    <h3 class="title"></h3>
    <a class="prev">‹</a>
    <a class="next">›</a>
    <a class="close">×</a>
    <a class="play-pause"></a>
    <ol class="indicator"></ol>
</div>
